<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.sagebionetworks.research.mobiletoolbox.app">

    <application
        tools:replace="android:roundIcon, android:icon"
        android:icon="@drawable/ic_app_launcher_northwestern"
        android:roundIcon="@drawable/ic_app_launcher_northwestern">
    </application>

</manifest>